PORT = 3598
MONGO_URI = ""

JWT_SECRET=""


# ===== REQUIRED CORE SETTINGS =====
FROM_EMAIL=""
FROM_NAME=""


# ====  RECAPTCHA KEYS =====
RECAPTCHA_SECRET_KEY =""
RECAPTCHA_SITE_KEY =""

# ===== EMAIL PROVIDER SELECTION =====
EMAIL_PROVIDER="smtp"    # Options: "smtp", "mailgun", "sendgrid"

# ===== SMTP (Gmail/Outlook/etc) =====
SMTP_HOST="smtp.gmail.com"
SMTP_PORT= "465"
SMTP_SECURE="true"
SMTP_USER=""
SMTP_PASSWORD=""
